* {
  margin: 0px;
  padding: 0px;
}

#logo {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  display: flex;
}

#navbar {
  background-color: #2c3846;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #ffffff;
  height: 80px;
}

#navBarList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navItem {
  font-size: 18px;
  line-height: 27px;
  margin-top: 25px;
  margin-left: 20px;
}
/* links.........*/
a:link,
a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: White;
}

/* slider................*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.imagecontainer {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  position: sticky;
}

/* Next & previous buttons */

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 300px;
  width: 100%;
  text-align: center;
  gap: 20px;
}

#firstpara {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#firstheader {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* game part */
.categories {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.categories a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.categories a:hover {
  background-color: #ddd;
  color: black;
}

.categories a.active {
  background-color: #3366cc;
  color: white;
}

.categories .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .categories a:not(:first-child) {
    display: none;
  }
  .categories a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .categories.responsive {
    position: relative;
  }
  .categories.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .categories.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#headings1 {
  padding-top: 80px;
  padding-left: 160px;
  font-family: "Segoe UI";
  color: #333333;
  font-style: normal;
  font-weight: bold;
}

#categoriesList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 110px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: black;
}

.categoriesItem {
  background-color: #ccc9c9;
  color: black;
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px 20px 5px;
  text-align: center;
}
.gameCategoryItemActive {
  background-color: #3366cc;
  color: #ffffff;
}

#center {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;
  padding-bottom: 20px;
}

/*... flex for games */
.gamecatcontainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 160px;
  column-gap: 30px;
  padding-bottom: 100px;
}
.gameimage {
  border-radius: 20px;
}

#box {
  position: relative;
  background-color: #2c3846;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
}

.about-img {
  position: absolute;
  right: 200px;
  width: 200px;
  height: 200px;
  top: -8em;
}

/* content about us */
#headings2 {
  padding-top: 80px;
  padding-left: 160px;
  font-family: "Segoe UI";
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
}

#para1 {
  padding-top: 40px;
  padding-left: 160px;
  font-family: "Segoe UI";
  color: #ffffff;
  line-height: 150%;
}

/* testimonial part  */
.box2 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  align-items: center;
  align-content: center;
}
.testimonialCarousel {
  display: none;
}

#testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.testcotainer {
  position: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 13.36%;
  align-content: center;
  background: #ffffff;
  border-radius: 10px;
}

.ratingImage {
  height: 32.43px;
  width: 32px;
}

.rating {
  padding-left: 0px;
}

.image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
}

.content {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  text-align: center;

  /* Body */

  color: #666666;
}

.details {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  text-align: center;

  /* Body */

  color: #666666;
}

/* newsletter */
#newsletter {
  padding: 5%;
  background-color: #2c3846;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#newsletterForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 492px;
}

#newhead {
  padding-top: 80px;
  font-family: "Segoe UI";
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
}
#newpara {
  padding-top: 20px;
  font-family: "Segoe UI";
  color: #ffffff;
  line-height: 150%;
}
.input {
  /* border-radius: 10px; */
  background-color: #f2f6ff;
  width: 250px;
  height: 50px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
}

input:focus {
  outline: none;
}

.input-icons {
  border-radius: 10px;
  background-color: #f2f6ff;
  width: 400px;
  height: 60px;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.iconInput {
  width: 20.25px;
  height: 20px;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
}

.button {
  color: white;
  background-color: #3366cc;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
}

/*footer */
.footer {
  position: absolute;
  height: 110px;
  left: 0px;
  padding-top: 46px;
  background: #2c3846;
  width: 100%;
  padding: 0px;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 150px;
}

.icons {
  height: 24px;
  width: 24px;
  margin-right: 15px;
  border-radius: 5px;
}
#para2 {
  padding-left: 150px;
  font-family: "Segoe UI";
  color: #ffffff;
  line-height: 150%;
}

#para3 {
  padding-left: 1060px;
  font-family: "Segoe UI";
  color: #ffffff;
}
