* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.carousel {
  color: white;
  position: relative;
}

.carouselImage {
  width: 100%;
}
.carouselDot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  text-align: center;
}
.carouselDots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
